{% extends 'layout.html' %}
{% block body %}
  <div class="jumbotron text-center">
    <h2>K-Money</h2>
    <p class="lead">Selamat Datang Di K-Money</p>
    <img src="https://cdn.dribbble.com/users/2475489/screenshots/6815052/washing-machine.gif" alt="" width="80%" height="400">
    <p>"Register" jika belum ada akun atau "Login" jika memiliki akun</p>
    <a href="/register" class="btn btn-primary btn-lg">Register</a>
    <a href="/login" class="btn btn-success btn-lg">Login</a>
   
  </div>
  {% endblock %}